In [0]:
from keras.models import Sequential, Model
from keras.models import load_model
from keras.layers import Reshape, Activation, Conv2D, Input, MaxPooling2D, BatchNormalization, Flatten, Dense, Lambda, Dropout
from keras.preprocessing.image import ImageDataGenerator
from keras.layers.advanced_activations import LeakyReLU
from keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard
from keras.optimizers import SGD, Adam, RMSprop
from keras.layers.merge import concatenate
import matplotlib.pyplot as plt
import keras.backend as K
import tensorflow as tf
import imgaug as ia
from tqdm import tqdm
from imgaug import augmenters as iaa
import numpy as np
import pickle
import os, cv2
import pandas as pd

Using TensorFlow backend.

Load the prediction file

In [0]:
boxprediction = np.load("H:/datasets/Grid/level3/testpred.npy")
boxprediction

array([[ 86.888245, 504.53546 , 218.32787 , 331.44937 ],
       [ 95.58077 , 517.01953 ,  40.69352 , 339.28564 ],
       [217.17628 , 402.28265 ,  95.365944, 249.55983 ],
       ...,
       [ 77.2302  , 601.5062  ,  53.526382, 425.63422 ],
       [ 43.95345 , 524.4421  ,  98.48015 , 381.7337  ],
       [ 75.57376 , 399.19006 ,  82.19083 , 377.7374  ]], dtype=float32)

In [0]:
boxprediction.shape , boxprediction.dtype

((24045, 4), dtype('float32'))

In [0]:
boxprediction = boxprediction.astype(np.int64)
boxprediction

array([[ 82, 557,  82, 426],
       [211, 416, 122, 418],
       [214, 422,  88, 371],
       ...,
       [ 77, 601,  53, 425],
       [ 43, 524,  98, 381],
       [ 75, 399,  82, 377]])

Load the test csv file

In [0]:
test = pd.read_csv('H:/datasets/Grid/level3/test (2).csv')
test.head(5)

                               image_name  x1  x2  y1  y2
0               1467891670691DSC_0582.png NaN NaN NaN NaN
1               1475151786691DSC00560.png NaN NaN NaN NaN
2               1480334114405_R2A3620.png NaN NaN NaN NaN
3  JPEG_20160712_161047_1000606860114.png NaN NaN NaN NaN
4    JPEG_20160403_174522_-1137349501.png NaN NaN NaN NaN

In [0]:
test.shape

(24045, 5)

In [0]:
df2 = test.copy()

Fill the columns of Dataframe with the boxprediction values

In [0]:
df2['x1'] = boxprediction[:,0]

In [0]:
df2['x2'] = boxprediction[:,1]

In [0]:
df2['y1'] = boxprediction[:,2]

In [0]:
df2['y2'] = boxprediction[:,3]

In [0]:
df2.head(5)

                               image_name   x1   x2   y1   y2
0               1467891670691DSC_0582.png   82  557   82  426
1               1475151786691DSC00560.png  211  416  122  418
2               1480334114405_R2A3620.png  214  422   88  371
3  JPEG_20160712_161047_1000606860114.png  177  483   60  407
4    JPEG_20160403_174522_-1137349501.png   91  527   46  387

Save this Dataframe as csv file

In [0]:
df2.to_csv('H:/datasets/Grid/level3/predictioncsv.csv', index=False)